@use "../settings/colors";

$_animation-duration: 0.2s;

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: colors.$black;
  opacity: 0;
  display: none;

  &--close {
    animation: fadeOut $_animation-duration ease-out;
  }

  &--open {
    animation: fadeIn $_animation-duration ease-in;
    opacity: 0.5;
    z-index: 1;
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
    display: block;
  }

  to {
    opacity: 0;
    display: none;
  }
}
