@use "src/styles/settings/typography";
@use "src/styles/settings/spacing";

.login {
  &__title {
    font: typography.$sm-h200-bold;
    margin-bottom: spacing.$tiny;
  }

  &__subtitle {
    font: typography.$b200-bold;
    margin-bottom: spacing.$md;
  }
}
