@use "src/styles/settings/typography";
@use "src/styles/settings/spacing";
@use "src/styles/settings/border";
@use "src/styles/settings/colors";

.email-resent {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font: typography.$b200-regular;
    padding: spacing.$xxs spacing.$xs;
    text-align: center;

    &:first-child {
      border-radius: border.$radius-default;
    }

    span {
      color: colors.$link-color;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid colors.$link-color;
      }
    }
  }
}
