@use "src/styles/settings/typography";
@use "src/styles/settings/spacing";
@use "src/styles/settings/colors";
@use "src/styles/settings/border";

.counter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: spacing.$tiny;

    &__number {
        font: typography.$b200-regular;
    }

    &--current {
        font: typography.$b500-bold;
        color: colors.$blue;
    }
}

.stepper {
    width: 50%;
    display: flex;
    height: 7px;
    border-radius: border.$radius-sm;
    background-color: colors.$cta-disabled;
    align-self: center;
    overflow: hidden;

    &__step {
        flex-grow: 1;

        &--color {
            background-color: colors.$blue;
        }
    }
}